* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#navbar-pinterest {
    position: fixed;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
    z-index: 1;
}

#inputFinder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1E1E1;
    border-radius: 24px;
    width: 59%;
    height: 3rem;
}

.finder {
    width: 90%;
    height: 2rem;
    background-color: #E1E1E1;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    font-size: 16px;
}

#icono-search {
    width: 1rem;
    height: 1rem;
}

#content {
    padding-top: 6rem;
}

#pinterest-icon {
    background-color: #ffffff;
    padding: 3px;
    margin: 2px;
    height: 2rem;
    border-radius: 50%;
}

#star {
    background-color: #000000;
    border-radius: 25px;
    padding-top: 14px;
    padding-left: 15px;
    height: 48px;
    width: 70px;
}

#star a {
    text-decoration: none;
    color: #ffffff;
}

#explorer a {
    text-decoration: none;
    color: #000000;
}

.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column {
    flex: 30%;
    padding: 15px;
}

.card-image {
    width: 100%;
    border-radius: 16px;
    position: relative;
}

.card-image>img {
    width: 100%;
    margin-top: 10px;
    border-radius: 16px;
}

.card-image-buttons {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: .5s;
    position: absolute;
    padding-bottom: 25rem;
}

.card-image-buttons a {
    text-decoration: none;
    color: #ffffff;
    background-color: #e01010;
    width: 5rem;
    height: 2rem;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 16px;
}

.card-image:hover .card-image-buttons {
    opacity: 1;
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}